<div class="inicio-banner" [style.height.px]="altura"
     [style.background-image]="'url(' + imagenUrl + ')'"
     [style.filter]="'brightness(' + brillo + ')'">
  <div class="banner-text">
    <h1>Fundación Huahuacuna</h1>
  </div>
</div>


<div class="descripcion-fundacion">
<p>
  En la Fundación Huahuacuna apoyamos a los niños y niñas, brindándoles cuidados y acompañándolos en la construcción de su proyecto de vida desde el ámbito comunitario y educativo.
</p>
<p>
  Estamos comprometidos con su bienestar y soñamos con una Colombia donde el interés superior de la infancia sea una realidad, permitiéndoles sentirse amados, protegidos y respetados.
</p>
</div>
