<div class="donar-wrapper">
  <div class="donar-header">
    <h1>¿Cómo deseas apoyarnos?</h1>
  </div>

  <p class="donar-intro">
    Tu aporte nos acerca cada vez más a cumplir el sueño de una Colombia en la
    que las niñas y los niños sean amados, protegidos y respetados.
  </p>

  <div class="donar-container" [style.height.px]="altura">
    <div
      class="donar-card"
      [style.background-image]="'url(' + imagenPSE + ')'"
      [style.filter]="'brightness(' + brillo + ')'"
    >
      <div class="overlay">
        <div class="overlay-content">
          <h2>PSE</h2>
          <p>
            Contribuye mediante pagos electrónicos, seguros y cómodos, para
            apoyar nuestras iniciativas.
          </p>

          <button class="btn-donar" (click)="abrirModal()">¡DONA AHORA!</button>
        </div>
      </div>
    </div>

    <div
      class="donar-card"
      [style.background-image]="'url(' + imagenEspecie + ')'"
      [style.filter]="'brightness(' + brillo + ')'"
    >
      <div class="overlay">
        <div class="overlay-content">
          <h2>EN ESPECIE</h2>
          <p>
            Dona materiales, ropa, alimentos o insumos para nuestras actividades
            y programas de ayuda.
          </p>
          <h3>Contáctanos al: {{ phone }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="modalAbierta">
  <div class="modal-form">
    <h2>Formulario de Donación</h2>

    <form
      [formGroup]="formularioDonacion"
      (ngSubmit)="enviarFormulario()"
      class="form-grid"
    >
      <div class="form-group">
        <label>Nombre completo*</label>
        <input type="text" formControlName="nombreCompleto" />
        <small
          class="error"
          *ngIf="
            formularioDonacion.get('nombreCompleto')?.touched &&
            formularioDonacion.get('nombreCompleto')?.invalid
          "
        >
          <span
            *ngIf="formularioDonacion.get('nombreCompleto')?.errors?.['required']"
            >El nombre es obligatorio.</span
          >
          <span
            *ngIf="formularioDonacion.get('nombreCompleto')?.errors?.['minlength']"
            >Mínimo 3 caracteres.</span
          >
        </small>
      </div>

      <div class="form-group">
        <label>Correo electrónico*</label>
        <input type="email" formControlName="correo" />
        <small
          class="error"
          *ngIf="
            formularioDonacion.get('correo')?.touched &&
            formularioDonacion.get('correo')?.invalid
          "
        >
          <span *ngIf="formularioDonacion.get('correo')?.errors?.['required']"
            >El correo es obligatorio.</span
          >
          <span *ngIf="formularioDonacion.get('correo')?.errors?.['email']"
            >Correo no válido.</span
          >
        </small>
      </div>

      <div class="form-group">
        <label>Tipo de identificación*</label>
        <ng-select
          [items]="tiposIdentificacion"
          bindLabel="name"
          bindValue="id"
          placeholder="Selecciona una opción"
          formControlName="tipoIdentificacion"
          [clearable]="true"
        >
        </ng-select>
        <small
          class="error"
          *ngIf="
            formularioDonacion.get('tipoIdentificacion')?.touched &&
            formularioDonacion.get('tipoIdentificacion')?.invalid
          "
        >
          Debes seleccionar un tipo de identificación.
        </small>
      </div>

      <div class="form-group">
        <label>Número de identificación*</label>
        <input type="text" formControlName="identificacion" />
        <small
          class="error"
          *ngIf="
            formularioDonacion.get('identificacion')?.touched &&
            formularioDonacion.get('identificacion')?.invalid
          "
        >
          <span
            *ngIf="formularioDonacion.get('identificacion')?.errors?.['required']"
            >La identificación es obligatoria.</span
          >
          <span
            *ngIf="formularioDonacion.get('identificacion')?.errors?.['pattern']"
            >Debe ser solo números (5-15 dígitos).</span
          >
        </small>
      </div>

      <div class="form-group monto-half">
        <label>Monto*</label>
        <input type="text" formControlName="monto" />
        <small
          class="error"
          *ngIf="
            formularioDonacion.get('monto')?.touched &&
            formularioDonacion.get('monto')?.invalid
          "
        >
          <span *ngIf="formularioDonacion.get('monto')?.errors?.['required']"
            >El monto es obligatorio.</span
          >
          <span *ngIf="formularioDonacion.get('monto')?.errors?.['pattern']"
            >Solo se permiten números.</span
          >
        </small>
      </div>
    </form>

    <div class="modal-buttons">
      <button class="btn-submit" type="submit" (click)="enviarFormulario()">
        Enviar
      </button>
      <button class="btn-cancelar" type="button" (click)="cerrarModal()">
        Cancelar
      </button>
    </div>
  </div>
</div>
