<div class="perfil-container">

  <h1 class="perfil-title">Mi perfil</h1>



  <!-- Formulario solo se renderiza si userDisplay existe -->
  <form class="perfil-info" *ngIf="userDisplay" (ngSubmit)="guardarCambios()">

    <label><strong>Nombre*</strong></label>
    <input
      type="text"
      [(ngModel)]="userDisplay.name"
      name="name"
      class="perfil-input"
      required
    />

    <label><strong>Apellido*</strong></label>
    <input
      type="text"
      [(ngModel)]="userDisplay.last_name"
      name="last_name"
      class="perfil-input"
      required
    />

    <label><strong>Correo electrónico*</strong></label>
    <input
      type="email"
      [(ngModel)]="userDisplay.email"
      name="email"
      class="perfil-input"
      required
    />

    <p>
      <strong>Estado:</strong>
      <span [style.color]="userDisplay.state?.color || 'black'">
        {{ userDisplay.state?.name }}
      </span>
    </p>


    <!-- Sección para cambiar contraseña -->
    <div class="password-section">
      <button type="button" class="btn-password" (click)="togglePassword()">
        <i class="fa fa-key"></i> {{ mostrarPassword ? 'Cancelar' : 'Deseo cambiar contraseña' }}
      </button>

      <div *ngIf="mostrarPassword" class="password-fields">
        <label><strong>Nueva contraseña:</strong></label>
        <input
          [type]="mostrarPasswordInput ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          class="perfil-input"
        />

        <label><strong>Confirmar contraseña:</strong></label>
        <input
          [type]="mostrarPasswordInput ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          class="perfil-input"
        />

        <!-- Checkbox debajo de los inputs -->
        <label class="show-password-checkbox">
          <input type="checkbox" (change)="toggleMostrarPasswordInput()" />
          Mostrar contraseña
        </label>

        <p *ngIf="camposError" class="error-message">{{ camposError }}</p>
      </div>
    </div>
  <!-- Mensaje de error de campos obligatorios -->
  <p *ngIf="camposError" class="error-message">{{ camposError }}</p>
    <button type="submit" class="btn-save">Guardar cambios</button>
  </form>
</div>
