<nav class="navbar">
  <div class="navbar-logo">
    <img [src]="logo" alt="Logo Fundación Huahuacuna" />
  </div>

  <ul class="navbar-links">
    <li (click)="irA('usuarios')"><i class="fa-solid fa-user"></i> Usuarios</li>
    <li (click)="irA('padrinos')">
      <i class="fa-solid fa-users"></i> Padrinos
    </li>
    <li (click)="irA('voluntarios')">
      <i class="fa-solid fa-face-smile"></i> Voluntarios
    </li>
    <li (click)="irA('niños')"><i class="fa-solid fa-child"></i> Niños</li>
    <li (click)="irA('administracion-contenido')">
      <i class="fa-solid fa-file-lines"></i> Contenido
    </li>
    <li (click)="irA('actividades')">
      <i class="fa-solid fa-calendar"></i> Actividades
    </li>
    <li (click)="irA('donaciones')">
      <i class="fas fa-hand-holding-usd"></i> Donaciones
    </li>
    <li (click)="irA('noticias-crud')">
      <i class="fa-solid fa-newspaper"></i> Noticias
        <li (click)="irA('mensajes-ninos-home')">
      <i class="fa-solid fa-newspaper"></i> Mensajes
  </ul>

  <div class="navbar-user" (click)="toggleMenu()" tabindex="0">
    <i class="fa-solid fa-circle-user"></i>
    <span>Mi perfil</span>

    <div class="user-menu" *ngIf="menuAbierto">
      <button (click)="irA('perfil')" class="menu-item">
        <i class="fa-solid fa-id-card"></i> Ver perfil
      </button>
      <button (click)="cerrarSesion()" class="menu-item logout">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
