<!-- landing.component.html -->


<div class="landing-container">
  <section id="inicio">
    <h1>Bienvenida a Fundación Huahuacuna</h1>
    <p>Texto introductorio, imagen o hero principal...</p>
  </section>

  <section id="quienes-somos">
    <app-quienes-somos></app-quienes-somos>
  </section>

  <section id="que-hacemos">
    <app-que-hacemos></app-que-hacemos>
  </section>

  <section id="unete">
    <app-unete></app-unete>
  </section>

  <section id="contacto">
    <app-contactanos></app-contactanos>
  </section>
</div>
