<app-fondo-imagen [brillo]="0.6"></app-fondo-imagen>
<div class="padrino-welcome-container">
  <div class="padrino-welcome">
    <p>
      Bienvenido al panel de apadrinamiento, donde podrás ver a los niños que
      desean, necesitan o están disponibles para un padrino, así como aquellos
      que ya tienes apadrinados. Desde aquí podrás hacer seguimiento a su
      progreso, conocer sus avances y fortalecer tu vínculo con ellos,
      contribuyendo al crecimiento y bienestar de cada niño apadrinado.
    </p>
  </div>
</div>
